@import 'foundation-settings';
@import '~foundation-sites/scss/foundation';


@include foundation-everything;

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: none;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  padding: 0;
  text-align: center;
  width: 64px;
  position: relative;
  touch-action: none;
  &:focus {
    outline: none;
    .kbd-navigation & {
      background: #ddd;
    }
  }
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  touch-action: none;
  > * {
    margin: 0 auto;
  }
}

@mixin can-highlight {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 0;
  top: 0;
}

.piece {
  @include can-highlight;
  touch-action: none;
}
.hl {
  @include can-highlight;
  background-color: red;
  opacity: 0.5;
}

// navigation

.navigation {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: calc(256px - 20px);
  margin: 10px;
  .moves {
    flex-grow: 1;
    text-align: center;
  }
  .current {
    text-decoration: underline;
  }
}

.win-overlay {
  position: fixed;
  left: 0; right: 0; top: 0; bottom: 0;
  background: rgba(1, 1, 1, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    color: white;
  }
  > * {
    text-align: center;
  }
  button {
  }
}

// level selector

.level-selector {
  h1 {
    text-align: center;
  }
}

.level-button {
  button {
    padding: 0;
    text-align: center;
    width: 40px;
    height: 40px;
    &:disabled {
    }
  }
  &.cleared button {
  }
}